{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="row">
    <div class="col-md-4">
        <div class="all-dialogs">
            {% for dialog, last_message_user in dialog_list %}
            <div class="get-dialog" onclick="location.href='{% url 'dialog-view' dialog.id %}'">
                <img class="rounded-circle dialog-img " src="{{ last_message_user.profile.image.url }}">
                <div class="get-dialog-no-img">
                    <div class="message-receiver-and-date">
                        <div class="message-receiver">
                            {{ last_message_user.username }}
                        </div>
                        <div class="message-date">
                            {{ dialog.last_message_send_date }}
                        </div>
                    </div>
                    <div class="message-content">
                        {{ dialog.last_message }}
                    </div>
                </div>
            </div>
            <hr class="hr-1" align="right" size="1"/>
            {% endfor %}
        </div>
        <div class="all-dialogs">
            {% for user in friends_without_chat %}
            <div class="get-dialog" onclick="location.href='{% url 'dialog-create-view' user.id %}'">
                <img class="rounded-circle dialog-img " src="{{ user.profile.image.url }}">
                <div class="get-dialog-no-img">
                    <div class="message-receiver-and-date">
                        <div class="message-receiver">
                            {{ user.username }}
                        </div>
                        <div class="message-date">

                        </div>
                    </div>
                    <div class="message-content">
                        No messages yet
                    </div>
                </div>
            </div>
            <hr class="hr-1" align="right" size="1"/>
            {% endfor %}
        </div>
    </div>


    <div class="col-md-8">
        <div class="content-section content-section-flex">
            <div class="receiver">
                <img class="rounded-circle article-img sender-img" src="{{ receiver.profile.image.url }}">
                <div class="receiver-username">
                    {{ receiver.username }}
                </div>
            </div>
        </div>
        <div class="content-section content-section-flex overflow" id="block">
            {% for message in dialog.messages.all %}
            <div class="message">
                <img class="rounded-circle article-img sender-img" src="{{ message.sender.profile.image.url }}">
                <div class="message-no-img">
                    <div class="message-sender-and-date">
                        <div class="message-sender">
                            <a class="message-sender-text" href="{% url 'profile' message.sender.id %}">{{ message.sender.username }}</a>
                        </div>
                        <div class="message-date-send">
                            {{ message.date_send }}
                        </div>
                    </div>
                    <div class="message-content">
                        {{ message.content }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <script type="text/javascript">
            var block = document.getElementById("block");
            block.scrollTop = block.scrollHeight;
        </script>

        <div class="content-section">
            <form action="{% url 'dialog-create' receiver.id %}" method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    {% for field in MessageForm %}
                    <div class="form-group">
                        {% if field.errors %}
                        <div class=".alert.alert-danger">
                            {{ field.errors }}
                        </div>
                        {% endif %}

                        {{ field.label }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}
