{% extends "base/base.html" %}
{% block content %}
    {% if f_requests %}
        <h1 class="mb-3">Incoming requests</h1>
    {% endif %}
    {% for user in f_requests %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <h2 class="article-title"><a class="mr-2" href="{% url 'profile' user.id %}">{{ user.username }}</a></h2>
                    <small class="text-muted">User id: {{ user.id }}</small>
                    </br>
                <a class="mr-2" href="{% url 'profile' user.id %}">User profile</a>
                <a class="mr-2" href="{% url 'user-posts' user.username %}">User posts ({{ user.post_set.count }})</a>
                </div>
            </div>
        </article>
    {% endfor %}

    <h1 class="mb-3">My friends</h1>
    {% for user in friends %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <h2 class="article-title"><a class="mr-2" href="{% url 'profile' user.id %}">{{ user.username }}</a></h2>
                    <small class="text-muted">User id: {{ user.id }}</small>
                    </br>
                <a class="mr-2" href="{% url 'profile' user.id %}">User profile</a>
                <a class="mr-2" href="{% url 'user-posts' user.username %}">User posts ({{ user.post_set.count }})</a>
                </div>
            </div>
        </article>
    {% endfor %}



{% endblock content %}
